In [47]:
import datetime

In [3]:
print(datetime.time.tzname)

<method 'tzname' of 'datetime.time' objects>

In [21]:
now= datetime.now().date()

In [22]:
print(now)

2020-08-16

In [23]:
from datetime import time

In [25]:
t1= datetime.now().time()

In [26]:
t1

datetime.time(19, 48, 10, 916297)

In [27]:
print(t1)

19:48:10.916297

In [81]:
t1= time(22,8,11,456)
print(t1)
print(f'hour:     {t1.hour:{5}}')
print(f'minute:   {t1.minute:{5}}')
print(f'second:   {t1.second:{5}}')
print(f'microsec: {t1.microsecond:{5}}')
print(f'min : {t1.min}')
print(f'max: {t1.max}')

22:08:11.000456
hour:        22
minute:       8
second:      11
microsec:   456
min : 00:00:00
max: 23:59:59.999999

In [37]:
print(t1)

22:08:11.000456

In [38]:
t1.hour

22

In [39]:
t1.minute

8

In [40]:
t1.second

11

In [41]:
t1.microsecond

456

In [44]:
t1.tzinfo

In [45]:
print(t1.tzname)

<built-in method tzname of datetime.time object at 0x000001A9D7278CD0>

In [48]:
t2= datetime.time(22,0,12,65)

In [49]:
t2

datetime.time(22, 0, 12, 65)

In [50]:
print(t2)

22:00:12.000065

In [54]:
print(t1)

22:08:11.000456

In [56]:
t1.min

datetime.time(0, 0)

In [60]:
print(datetime.time.min)
print(datetime.time.resolution)
print(datetime.time.max)

00:00:00
0:00:00.000001
23:59:59.999999

In [121]:
import datetime

In [108]:
date1= datetime.date(1997,7,28)
print(date1)
date2= datetime.date.today()
print(date2)
print(f'year: {date2.year} month: {date2.month} day: {date2.day}')
today=date2-date1

1997-07-28
2020-08-16
year: 2020 month: 8 day: 16

In [122]:
print(today.days)
print(today.total_seconds())
print(datetime.date.min)
print(datetime.date.max)
print(datetime.date.resolution)

8420
727488000.0
0001-01-01
9999-12-31
1 day, 0:00:00

In [126]:
from datetime import datetime

dt1= datetime(2020,8,16,20,13,0,44)
print(dt1)
print(dt1.date())
print(dt1.time())
print(dt1.day)
print(dt1.microsecond)
dt2= datetime(2019,8,16,12,13,0,44)
print(dt2)
dt=dt1-dt2
print(dt)

2020-08-16 20:13:00.000044
2020-08-16
20:13:00.000044
16
44
2019-08-16 12:13:00.000044
366 days, 8:00:00

In [127]:
dt.days

366

In [132]:
dt.total_seconds()

31651200.0

In [138]:
dt1=dt1.replace(month=9)

In [137]:
print(dt1)

2020-08-16 20:13:00.000044

In [139]:
dt1=dt1.replace(year=2010)

In [140]:
print(dt1)

2010-09-16 20:13:00.000044

In [141]:
dt1.ctime()

'Thu Sep 16 20:13:00 2010'