In [1]:
myfile=open("C:\\Users\\lohit\\Desktop\\test.txt")

In [2]:
pwd

'C:\\Users\\lohit\\Documents\\Python Scripts\\playground\\section3'

In [3]:
myfile.read()

'this is the first line\nthis is the second line\nthis is the third line'

In [4]:
with open("C:\\Users\\lohit\\Desktop\\test.txt") as newfile:
    contents= newfile.read()

In [5]:
contents

'this is the first line\nthis is the second line\nthis is the third line'

In [6]:
%%writefile myfile.txt
this is first line
this is second line
this is third line
this is fourth line

Writing myfile.txt

In [19]:
myfile= open("myfile.txt")

In [8]:
myfile=open('wrong.txt')

FileNotFoundError: [Errno 2] No such file or directory: 'wrong.txt'

In [10]:
pwd

'C:\\Users\\lohit\\Documents\\Python Scripts\\playground\\section3'

In [21]:
myfile.read()

''

In [22]:
myfile.seek(0)

0

In [23]:
myfile.readlines()

['this is first line\n',
 'this is second line\n',
 'this is third line\n',
 'this is fourth line\n']

In [17]:
myfile.close()

In [27]:
with open("C:\\Users\\lohit\\Desktop\\test.txt") as f:
    contents=f.read()

In [28]:
contents

'this is the first line\nthis is the second line\nthis is the third line'

In [32]:
with open('myfile.txt',mode='w') as f:
    f.write('this is the first line\nthis is the second line\nthis is the third line\nadded @ 12.13')

In [33]:
with open('myfile.txt',mode='a') as f:
    f.write('\nby -- lohith')

In [34]:
with open('myfile.txt',mode='r') as f:
    print(f.read())

this is the first line
this is the second line
this is the third line
added @ 12.13
by -- lohith

In [37]:
with open('anna.txt',mode='w') as f:
    f.write('created by me @ 12.21')

In [38]:
with open('anna.txt',mode='r') as f:
    print(f.read())

created by me @ 12.21

In [39]:
f=open('myfile.txt')

In [40]:
f.close()

In [42]:
%%writefile test.txt
first on one
second on two
third on three
fourth on four

Writing test.txt

In [43]:
myfile=open('test.txt')

In [44]:
myfile.read()

'first on one\nsecond on two\nthird on three\nfourth on four\n'

In [46]:
myfile.seek(0)

0

In [47]:
print(myfile.read())

first on one
second on two
third on three
fourth on four

In [48]:
myfile.seek(0)

0

In [49]:
myfile.readlines()

['first on one\n', 'second on two\n', 'third on three\n', 'fourth on four\n']

In [50]:
myfile.close()

In [69]:
myfile=open('test.txt',mode='w')

In [70]:
myfile.write("first on one\nsecond on two\nthird on three\nfourth on four")

56

In [71]:
myfile=open('test.txt')
myfile.read()

'first on one\nsecond on two\nthird on three\nfourth on four'

In [72]:
myfile.close()

In [73]:
myfile=open('test.txt',mode='a+')
myfile.write('\nappended text')
myfile.write('\nlast line')
myfile.seek(0)
myfile.read()

'first on one\nsecond on two\nthird on three\nfourth on four\nappended text\nlast line'

In [74]:
%%writefile -a test.txt
this is sixth line
this is seventh line

Appending to test.txt

In [75]:
for line in open('test.txt'):
    print(line)

first on one

second on two

third on three

fourth on four

appended text

last linethis is sixth line

this is seventh line

In [77]:
for asdf in open('myfile.txt'):
    print(asdf)

this is the first line

this is the second line

this is the third line

added @ 12.13

by -- lohith

In [85]:
f=open('myfile.txt',mode='w+')

In [86]:
f.write('first on one\nsecond on two\nthird on three\nfourth on four')

56

In [88]:
f.seek(0)
f.read()

'first on one\nsecond on two\nthird on three\nfourth on four'

In [89]:
f.seek(0)

0

In [90]:
f.readlines()

['first on one\n', 'second on two\n', 'third on three\n', 'fourth on four']

In [91]:
f.close()

In [92]:
myfile=open('myfile.txt',mode='a')

In [93]:
myfile.write("\nfifth line\nsixth line")

22

In [95]:
myfile=open('myfile.txt')
myfile.read()

'first on one\nsecond on two\nthird on three\nfourth on four\nfifth line\nsixth line'

In [99]:
myfile.seek(0)

0

In [100]:
myfile.readlines()

['first on one\n',
 'second on two\n',
 'third on three\n',
 'fourth on four\n',
 'fifth line\n',
 'sixth line']

In [101]:
with open('myfile.txt',mode='a') as f:
    f.write('\nseveth line')

In [102]:
with open('myfile.txt') as f:
    print(f.read())

first on one
second on two
third on three
fourth on four
fifth line
sixth line
seveth line

In [103]:
myfile=open('myfile.txt')

In [105]:
for line in open('myfile.txt'):
    print(line)

first on one

second on two

third on three

fourth on four

fifth line

sixth line

seveth line

In [128]:
with open('test.txt', mode='r+') as f:
    f.write('this file created now @ 13.57')
    print(f.read())

In [127]:
with open('test.txt', mode='r') as f:
    print(f.read())

this file created now @ 13.57