In [1]:
my_list=[1,2,3]

In [2]:
my_list

[1, 2, 3]

In [8]:
my_list[-1]

3

In [9]:
len(my_list)

3

In [11]:
my_list[2]="lohith"

In [12]:
my_list

[1, 2, 'lohith']

In [13]:
my_list[0]=1098

In [14]:
my_list

[1098, 2, 'lohith']

In [39]:
my_list.append(234.5678)

In [20]:
my_list

[1098, 2, 'lohith', 234.5678, 234.5678, 234.5678]

In [37]:
x=my_list.pop()

In [31]:
type(x)

float

In [32]:
x

234.5678

In [40]:
my_list

[1098, 2, 'lohith', 234.5678]

In [41]:
my_list.append('sanjay')

In [42]:
my_list

[1098, 2, 'lohith', 234.5678, 'sanjay']

In [43]:
my_list[1:]

[2, 'lohith', 234.5678, 'sanjay']

In [44]:
my_list

[1098, 2, 'lohith', 234.5678, 'sanjay']

In [45]:
my_list+["danger"]

[1098, 2, 'lohith', 234.5678, 'sanjay', 'danger']

In [46]:
my_list

[1098, 2, 'lohith', 234.5678, 'sanjay']

In [47]:
my_list=my_list+["danger"]

In [48]:
my_list

[1098, 2, 'lohith', 234.5678, 'sanjay', 'danger']

In [88]:
l1=[56,9,87,23,45]

In [89]:
print(l1)

[56, 9, 87, 23, 45]

In [79]:
l1.sort()
print(l1)

[9, 23, 45, 56, 87]

In [80]:
l1

[9, 23, 45, 56, 87]

In [81]:
l1.reverse()
print(l1)

[87, 56, 45, 23, 9]

In [90]:
x=l1.pop(1)
print(x)
print(l1)

9
[56, 87, 23, 45]

In [91]:
l1

[56, 87, 23, 45]

In [106]:
l1*2

[56, 87, 23, 45, 56, 87, 23, 45]

In [107]:
l2=l1*2
print(l2)

[56, 87, 23, 45, 56, 87, 23, 45]

In [99]:
print(l2)
l2.remove(45)
print(l2)

[56, 87, 23, 45, 56, 87, 23, 45]
[56, 87, 23, 56, 87, 23, 45]

In [108]:
l2.sort()
l2

[23, 23, 45, 45, 56, 56, 87, 87]

In [109]:
for i in range(0,4):
    l2.remove(l2[i])
print(l2)

[23, 45, 56, 87]

In [110]:
l2=['a','e','u','o','i']

In [111]:
l2

['a', 'e', 'u', 'o', 'i']

In [112]:
l2.reverse()

In [113]:
l2

['i', 'o', 'u', 'e', 'a']

In [114]:
l2.sort()

In [115]:
l2

['a', 'e', 'i', 'o', 'u']

In [3]:
list1=[1,2,3]
list2=[4,5,6]
list3=[7,8,9]

In [4]:
list123=[list1, list2,list3]

In [5]:
list123

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [120]:
list123[2][0]

7

In [124]:
for i in list3:
    print(i)

7
8
9

In [6]:
list123

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [7]:
list123[3]=[0,1,1]

IndexError: list assignment index out of range

In [8]:
len(list123)

3