In [1]:
list1=[1,2,3,4,5,6,7,8,9,10]

In [6]:
list1
list2=[]
list2+=[2,3]
list2

[2, 3]

In [3]:
for item in list1:
    print(item)

1
2
3
4
5
6
7
8
9
10

In [8]:
odd_list=[]
even_list=[]
for i in list1:
    if(i%2==1):
        odd_list+=[i]
    else:
        even_list+=[i]
print('odd list:',odd_list)
print('even list:',even_list)

odd list: [1, 3, 5, 7, 9]
even list: [2, 4, 6, 8, 10]

In [11]:
for num in list1:
    if(num%2==0):
        print('even number %d '%(num))
    else:
        print('odd number %d' %(num))

odd number 1
even number 2
odd number 3
even number 4
odd number 5
even number 6
odd number 7
even number 8
odd number 9
even number 10

In [13]:
list_sum=0

for i in list1:
    list_sum+=i
print(f'list sum = {list_sum}')
print('list sum= {}'.format(list_sum))

list sum = 55
list sum= 55

In [16]:
mystring= 'hello world!'
for char in mystring:
    print(char)

h
e
l
l
o

w
o
r
l
d
!

In [17]:
tup =(1,2,34)

In [18]:
for i in tup:
    print(i)

1
2
34

In [19]:
list1=[(1,2),(3,4),(5,6),(7,8)]

In [20]:
for item in list1:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [23]:
for (a,b) in list1:
    print(f'{a}  |  {b} ')

1  |  2
3  |  4
5  |  6
7  |  8

In [24]:
for a,b in list1:
    print(b)

2
4
6
8

In [25]:
list2=[(1,2,3),(4,5,6),(7,8,9)]

In [29]:
for a,b,c in list2:
    print('a=',a,'b=',b,'c=',c)

a= 1 b= 2 c= 3
a= 4 b= 5 c= 6
a= 7 b= 8 c= 9

In [34]:
d={'k1':1,'k2':2,'k3':3}

In [31]:
d.values()

dict_values([1, 2, 3])

In [32]:
for i in d.values():
    print(i)

1
2
3

In [40]:
for key,values in d.items():
    print(f'key= {key} | value= {values}')

key= k1 | value= 1
key= k2 | value= 2
key= k3 | value= 3

In [41]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [42]:
k=list(d.keys())

['k1', 'k2', 'k3']

In [44]:
l=list(d.values())

In [45]:
l

[1, 2, 3]

In [46]:
l.reverse()

In [47]:
l

[3, 2, 1]