In [1]:
for i in range(0,11,2):
    print(i)

0
2
4
6
8
10

In [2]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [3]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
l=list(range(0,12,3))

In [5]:
l

[0, 3, 6, 9]

In [7]:
list(enumerate('abcde'))

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd'), (4, 'e')]

In [8]:
for item in enumerate('abcde'):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [10]:
for index, letter in enumerate('abcde'):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [12]:
mylist1=[1,2,3]
mylist2=['a','b','c']
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [15]:
l1=[1,2,3]
l2=['a','b','c']
l3=[100,200,300,400]
list(zip(l1,l2,l3))

[(1, 'a', 100), (2, 'b', 200), (3, 'c', 300)]

In [16]:
for item in zip(l1,l2,l3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [17]:
'x' in [1,2,3]

False

In [18]:
'x' in ['x','y','z']

True

In [19]:
'a' in 'a world'

True

In [24]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [25]:
list(range(0,100,5))

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [27]:
for i,v in enumerate('abcde'):
    print(i,' ',v)

0   a
1   b
2   c
3   d
4   e

In [28]:
for item in enumerate('hello world'):
    print(item)

(0, 'h')
(1, 'e')
(2, 'l')
(3, 'l')
(4, 'o')
(5, ' ')
(6, 'w')
(7, 'o')
(8, 'r')
(9, 'l')
(10, 'd')

In [30]:
for index,letter in enumerate('hello world!'):
    print(index)
    print(letter)
    print('\n')

0
h


1
e


2
l


3
l


4
o


5



6
w


7
o


8
r


9
l


10
d


11
!

In [31]:
list1=[1,2,3,4,5]

In [32]:
list2=['a','b','c']

In [33]:
list3=list(zip(list1,list2))
list3

[(1, 'a'), (2, 'b'), (3, 'c')]

In [34]:
for item in zip(list1,list2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [36]:
list3=[100,200,300]
for item in zip(list1,list2,list3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [37]:
1 in ['x','y','z']

False

In [38]:
1 in [4,5,6]

False

In [40]:
'a' in 'aworld!'

True

In [41]:
'mykey' in {'mykey':100}

True

In [88]:
d={'key':1089}

In [92]:
('key', 1089) in d.items()

True

In [44]:
1089 in d.keys()

False

In [45]:
1089 in d.values()

True

In [46]:
list1=[10,20,34,567,987]

In [47]:
min(list1)

10

In [48]:
max(list1)

987

In [49]:
from random import shuffle

In [54]:
shuffle(list1)

In [55]:
list1

[10, 987, 20, 34, 567]

In [56]:
from random import randint

In [57]:
randint(0,100)

16

In [58]:
randint(0,100)

8

In [59]:
randint(0,178)

76

In [60]:
name=input('enter your name')

enter your name lohith

In [61]:
name

'lohith'

In [65]:
number = int(input('enter the number'))

enter the number 1097

In [66]:
number

1097

In [67]:
l1=[1,2,3,4,5]

In [68]:
for i in enumerate(l1):
    print(i)

(0, 1)
(1, 2)
(2, 3)
(3, 4)
(4, 5)

In [71]:
list(enumerate(l1))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5)]

In [73]:
d={'k':1}

In [74]:
'k' in d

True

In [76]:
1 in d.values()

True

In [77]:
1 not in [4,5,6]

True

In [78]:
l1=[998,76,6,5,3,287]

In [79]:
min(l1)

3

In [80]:
max(l1)

998

In [81]:
from random import shuffle

In [82]:
shuffle(l1)

In [83]:
l1

[3, 76, 6, 998, 287, 5]

In [84]:
shuffle(l1)

In [85]:
l1

[287, 5, 76, 3, 998, 6]

In [86]:
from random import randint

In [87]:
randint(0,109876)

57427